os: osx
osx_image: xcode11.3
language: swift

install:
  - ./install_swiftlint.sh

script:
  - xcodebuild -scheme "Map" -sdk iphonesimulator -destination "platform=iOS Simulator,OS=13.2.2,name=iPhone 11" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO

